h1 {
  @include primary-font;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 25px;

  @media screen and (max-width: 600px) {
    font-size: 50px;
  }

  @media screen and (max-width: 480px) {
    font-size: 40px;
  }

  @media screen and (max-width: 320px) {
    font-size: 30px;
  }
}

p {
  @include secondary-font;
  font-size: 18px;
  margin-bottom: 20px;
  width: 50%;

  @media screen and (max-width: 600px) {
    width: 100%;
    font-size: 24px;
  }

  @media screen and (max-width: 480px) {
    font-size: 20px;
  }

  @media screen and (max-width: 414px) {
    font-size: 18px;
  }

  @media screen and (max-width: 375px) {
    font-size: 16px;
  }

  @media screen and (max-width: 320px) {
    font-size: 13px;
  }
}

a.button {
  @include primary-button;
  @include primary-font;

  @media screen and (max-width: 600px) {
    width: 100%;
    font-size: 22px;
    height: 100px;
  }

  @media screen and (max-width: 320px) {
    font-size: 18px;
  }
}

.hide {
  display: none;
}

.highlight {
  color: $brand-color;
}
