.container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.layer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 60px 80px;

  @media screen and (max-width: 768px) {
    padding-left: 40px;
    padding-top: 40px;
    justify-content: center;
  }

  @media screen and (max-width: 600px) {
    padding-right: 40px;
  }
}

.last-p {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.stop-full {
  position: absolute;
  bottom: 0;
  right: 40px;
  height: 100vh;
  z-index: 1;

  @media screen and (max-width: 768px) {
    right: 0px;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
